<!DOCtype html>
<html>
<head>
<title>
GENERATOR
</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<style>
table{
    border: black solid 3px;
    height: 400px;
    width:600px;
    margin-left:350px;
    margin-top:50px;
}
h1{
    text-align: center;
}
th{
    border: solid 3px black;
    height:50px;
    text-align:center;
	font-size:50px;
}
#getNum{
    margin-left:25px;
    font-size: 250px;
}
</style>


<body>
<h1><strong>GET NUMBER</strong></h1>

<table>
<tr>
<th>NUMBER</th>
</tr>
<tr>
    <td><span id="getNum">{{ variable }}</span></td>
</tr>
</table>

</body>
</html>

